body {
    background-color: #202531;
    color: #ffffff;
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: large;
}

#titles {
    text-align: center;
}

.poem {
    text-align: left;
    padding: 5%;

}

.curvedImg {
    object-fit: contain;
    object-position: center;
    vertical-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
}

h1, h2, h5 {
    font-weight: lighter;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#intro {
    text-align: justify;
}

#collapseText{
    color:#202531;
}

#contactMe {
    text-align: left;
}
#gradientStart {
    background: linear-gradient(#202531 75%, #617dbc 100%);
    padding-top: 10%;
}
#dreamin {
    background: linear-gradient(#617dbc 25%, #ca92ab 100%);
    text-align: left;
}
#gradient3 {
    background: linear-gradient(#ca92ab 25%, #6cd6d4 100%);
}
#fastCar {
    background: linear-gradient(#6cd6d4 75%, #e5e5e5 100%);
    text-align: left;
    color: #000000;
}
#gradient4 {
    background: linear-gradient(#e5e5e5 25%, #221c3e 100%);
}
#metaphorfisis {
    background: linear-gradient(#221c3e 25%, #763cac 50%);
    text-align: left;
}
#gradient5 {
    background: linear-gradient(#763cac 25%, #80343e 100%);
}
#weAreStardust {
    background: linear-gradient(#80343e 25%, #b854e5 100%);
    text-align: left;
}
#gradient6 {
    background: linear-gradient(#b854e5 25%, #1c5a8d 100%);
}
#lifeIsGood {
    background: linear-gradient(#1c5a8d 25%, #144c59 100%);
    text-align: left;
}
#gradient7 {
    background: linear-gradient(#144c59 25%, #926aff 100%);
}
#distraction {
    background: linear-gradient(#926aff 25%, #81deff 100%);
    text-align: left;
    color: #000000;
}
#gradient8 {
    background: linear-gradient(#81deff 25%, #00c1c3 100%);
}
#rainstorm {
    background: linear-gradient(#00c1c3 25%, #1ea88f 100%);
    text-align: left;
    color: #000000;
}
#gradient9 {
    background: linear-gradient(#1ea88f 25%, #ffe16c 100%);
}
#postedPretty {
    background-color: #ffe16c;
    text-align: left;
    color: #000000;
}
#gradient10 {
    background: linear-gradient(#ffe16c 25%, #202531 100%);
}

#music {
    padding: 5%;
}

.btn-primary, .nav-link {
    background-color: #202531;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s, color 0.2s;
}

.nav-link.active, .nav-link:hover, .btn-primary:hover {
    background-color: #ffffff;
    color: #202531;
    border-color: #202531;
}

.nav-item + .nav-item {
    margin-left: 10px; /* Space between nav items */
}

.row{
    padding:1%;
}


#video {
    display: flex;
}

#boxyBoy {
    background-color: green;
}
/* Mobile phones */
#contentDiv {
    /* debugging */
    /* background-color: rgb(98, 122, 131); */

    padding:2%;
    padding-top: 0;
    padding-bottom: 0;
}

#subsec{
    font-style: italic;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

#animBG{
    background-color: #2c3855;
    border-radius: 15px;
}

.nav {
    padding:1%;
    padding-top: 0;
    padding-bottom: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #contentDiv {
        /* debugging */
        /* background-color: rgb(106, 69, 0); */

        padding:10%;
        padding-top: 0;
        padding-bottom: 0;
    }
    #subsec{
        text-align: left;
        font-style: italic;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #contentDiv {
        /* debugging */
        /* background-color: rgb(116, 87, 92); */

        padding:15%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #contentDiv {
        /* debugging */
        /* background-color: rgb(60, 98, 60); */
        
        padding:20%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #contentDiv {
        /* debugging */
        /* background-color: rgb(102, 56, 102); */

        padding:25%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #contentDiv {
        /* debugging */
        /* background-color: rgb(73, 73, 73); */

        padding:30%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#navBG .container-fluid .navbar-toggler {
    background-color: white;
    color: white;
}

